.card-info {
  background: #0b0f14;
  padding: 35px;
  border-radius: 14px;
  width: 100%;
  color: white;
  border: 1px solid rgba(255,255,255,0.05);
  transition: all 0.3s ease;
}

/* Glow SOLO para verde */
.verde.card-info {
  box-shadow: 0 0 25px rgba(6, 190, 49, 0.15);
}

/* Header */
.card-header {
  gap: 12px;
  margin-bottom: 25px;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icono */
.card-icon {
  width: 18px;
  height: 18px;
}

/* Título */
.card-title {
  font-size: 20px;
  font-family: "Ringbearer Medium", serif;
  letter-spacing: 1px;
}

/* Items */
.card-item {
  margin-bottom: 22px;
}

.card-line {
  width: 3px;
  margin-right: 14px;
  border-radius: 2px;
}

.card-text {
  color: #ffffff;
  font-size: 20px;
  /* line-height: 1.7; */
  font-family: "Minion Variable Concept";
}

/* ROJO */
.rojo .card-title {
  color: #ff4d4d;
}

.rojo .card-line {
  background: #ff4d4d;
}

.rojo .icon-circle {
  background: rgba(255, 77, 77, 0.15);
}

/* VERDE */
.verde .card-title {
  color: #00ffaa;
}

.verde .card-line {
  background: #00ffaa;
}

.verde .icon-circle {
  background: rgba(0, 255, 170, 0.15);
}