.titulo-container {
  margin-top: 100px;
}

.subtitulo {
  color:#00ffaa;
  letter-spacing: 4px;
  font-size: 13px;
  font-family: monospace;
  margin-bottom: 10px;
}

.titulo {
  font-family: "Ringbearer Medium", serif;
  font-size: 48px;
  color: #e6e6e6;
}
.frase-container {
  margin-top: 10px;
}

.frase {
  font-family: "Minion Variable Concept", serif;
  color: #bfbfbf;
  font-style: italic;
}

.frase span {
  color: #00ffaa;
}